{
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "browser": {
      "plugins": [
        "transform-async-to-generator"
      ]
    },
    "jest": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
