* eol=lf
__tests__/__fixtures__/** binary -eol linguist-vendored
__tests__/__snapshots__/** binary -eol
__tests__/__snapshots__/test-exports.js.snap text eol=lf
**/*.png binary -eol
**/*.webp binary -eol
**/*.zip binary -eol
*.min.js binary
sidecar.v1.js binary
