branches:
  - '+([0-9])?(.{+([0-9]),x}).x'
  - 'main'
  - 'next'
  - 'next-major'
  - name: 'beta'
    prerelease: true
  - name: 'alpha'
    prerelease: true
success:
  - '@semantic-release/github'
  - path: '@semantic-release/exec'
    cmd: "node __tests__/__helpers__/tweet.cjs 'v${nextRelease.version} has been published! https://github.com/isomorphic-git/isomorphic-git/releases/tag/v${nextRelease.version}'"
