language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '10'
  - '9'
before_script:
  - chmod ugo+x __tests__/__fixtures__/test-push-server.git/hooks/update
  - chmod ugo+x __tests__/__fixtures__/test-push-server.git/hooks/post-receive
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
addons:
  firefox: latest
