# Node.js
# Build a general Node.js application with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/vsts/pipelines/languages/javascript

pool:
  vmImage: 'Ubuntu 16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'

- script: |
    npm ci
  displayName: 'npm ci'

- script: |
    chmod ugo+x __tests__/__fixtures__/test-push-server.git/hooks/update
    chmod ugo+x __tests__/__fixtures__/test-push-server.git/hooks/post-receive
    ./node_modules/.bin/micro --listen=tcp://0.0.0.0:9999 ./node_modules/@isomorphic-git/cors-proxy/index.js &
    npm test
    kill %1
  displayName: 'npm test'
  env:
    BROWSER_STACK_ACCESS_KEY: $(Browser.Stack.Access.Key)
    BROWSER_STACK_USERNAME: $(Browser.Stack.Username)
    BUNDLESIZE_GITHUB_TOKEN: $(Bundlesize.Github.Token)
    GH_TOKEN: $(Gh.Token)
    GITHUB_TOKEN: $(Github.Token)
    SAUCE_ACCESS_KEY: $(Sauce.Access.Key)
    SAUCE_USERNAME: $(Sauce.Username)

- task: PublishTestResults@2
  inputs:
    testResultsFormat: JUnit
    testResultsFiles: '$(System.DefaultWorkingDirectory)/junit/*.xml'

- task: PublishCodeCoverageResults@1
  inputs: 
    codeCoverageTool: Cobertura
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml'
    reportDirectory: '$(System.DefaultWorkingDirectory)/coverage/lcov-report'

- task: PublishBuildArtifacts@1
  inputs:
    artifactName: 'dist'
    PathtoPublish: '$(System.DefaultWorkingDirectory)/dist'

- task: PublishBuildArtifacts@1
  inputs:
    artifactName: 'bundle.umd.min.js'
    PathtoPublish: '$(System.DefaultWorkingDirectory)/dist/bundle.umd.min.js'
